@import "variables";
@import "helpers";

#menu {
  padding: 10px 0 0;
  font-size:22px;
  text-transform: uppercase;
  color: white;
  font-family: 'Yanoneka', serif;

  img {
    height: 42px;
    padding-bottom: 5px;
    margin-right: 5px;
  }

  .navbar-brand {
    padding-left: 20px;
  }

  .navbar-brand, .nav-link {
    color: white;
    line-height: 42px;
    text-decoration: none;

  }

  #social {
    font-size: 12px;
    position: absolute;
    top:10px;
    color: #5c8190;
    right: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: none;
  }
}

